

/*Margin */
.m-0{ margin:0 !important;}
.m-t-0{ margin-top:0 !important;}
.m-t-5{ margin-top:5px !important;}
.m-t-1x{ margin-top:10px !important;}
.m-t-2x{ margin-top:20px !important;}
.m-t-3x{ margin-top:30px !important;}
.m-b-0{ margin-bottom:0 !important;}
.m-b-5{ margin-bottom:5 !important;}
.m-b-1x{ margin-bottom:10px !important;}
.m-b-2x{ margin-bottom:20px !important;}
.m-b-3x{ margin-bottom:30px !important;}
.m-r-0{ margin-right:0 !important;}
.m-r-5{ margin-right:5px !important;}
.m-r-1x{ margin-right:10px !important;}
.m-r-2x{ margin-right:20px !important;}
.m-l-0{ margin-left:0 !important;}
.m-l-5{ margin-left:5px !important;}
.m-l-1x{ margin-left:10px !important;}
.m-l-2x{ margin-left:20px !important;}
.m-l-r-0{margin-left:0 !important; margin-right:0px !important;}
/*Padding */
.p-0{ padding:0 !important;}
.p-1x{padding:10px !important;}
.p-t-0{ padding-top:0px !important;}
.p-t-5{ padding-top:5px !important;}
.p-t-1x{ padding-top:10px !important;}
.p-t-2x{ padding-top:20px !important;}
.p-t-3x{ padding-top:30px !important;}
.p-b-0{ padding-bottom:0px !important;}
.p-b-5{ padding-bottom:5px !important;}
.p-b-1x{ padding-bottom:10px !important;}
.p-b-2x{ padding-bottom:20px !important;}
.p-b-3x{ padding-bottom:30px !important;}
.p-l-0{ padding-left:0px !important;}
.p-l-5{ padding-left:5px !important;}
.p-l-1x{ padding-left:10px !important;}
.p-l-2x{ padding-left:20px !important;}
.p-r-0{ padding-right:0px !important;}
.p-r-5{ padding-right:5px !important;}
.p-r-1x{ padding-right:10px !important;}
.p-r-2x{ padding-right:20px !important;}
.p-l-r-0{ padding-left:0 !important; padding-right:0px !important;}
.p-t-b-0{ padding-top:0 !important; padding-bottom:0 !important;}
.p-tb-4{ padding-bottom:4px !important;padding-top:4px !important;}
.p-tb-5{ padding-bottom:5px !important;padding-top:5px !important;}


.custom-container{width:100%; float:left; background:#fff; padding:30px 25px;}
.custom-container h2{font-size:26px; color:#005cae; margin:0 0 15px 0;}
.hr{ width:100%; float:left; margin-bottom:5px;}
.scroll-container-wrap{ min-width:100%; border:#d4d4d4 solid 1px; overflow:auto;}
.scroll-container{ min-width:1000px; padding-bottom:10px;}
.border tr{border-bottom:#d4d4d4 solid 1px;}
.border tr th{border-right:1px #d4d4d4 solid; padding:5px 5px; background:#e0e9f5; color:#444; text-align:center;}
.border tr th:last-child{border-right:none;}
.border tr td{border-right:1px #d4d4d4 solid; padding:4px 5px; cursor:pointer}
.border tr td:last-child{border-right:none;}
.border tr:nth-child(even) td {background: #FFF}
.border tr:nth-child(odd) td {background: #f3f7fc}
.border tr:hover td{background:#F0F0F0; transition: all 0s ease 0s;}
.bgd-f9{background: #F9F9F9}

.form-group{margin-bottom:10px; width:100%; float:left;}
.txt-right{text-align:right;}
.chosen-container {width: 100% !important;}







@media(max-width:767px){	
	.txt-right{text-align:left;}
	.custom-container{padding:15px 10px;}

}


