.login_box {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 0 5px 12px #333333;
    -webkit-border-radius: 10px;
    box-shadow: 0 5px 12px #333333;
    -webkit-box-shadow: 0 5px 12px #333333;
    background: #FFFFFF;
    font-family: lucida grande,verdana;
    font-size: 12px;
    margin: 10px auto;
    padding: 20px 20px 20px;
    text-align: left;
    margin-top: 0px;
}
.btnload{
display:none;	
	}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}


.form-error {
		border: 1px solid #CC9999;
	}

.error-message{
	color: #AA0B0B;
	
	}
.message.error {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #FFEEEE;
	border: 2px solid #CC9999;
	border-radius: 7px 7px 7px 7px;
	color: #AA0B0B;
	padding:8px;
	}

.message.success {
	margin-bottom: 6px;
	margin-top: 6px;
	margin-left: 6px;
	margin-right: 6px;
	background-color: #dff0d8;
	border: 2px solid #d6e9c6;
	border-radius: 7px 7px 7px 7px;
	color: #3c763d;
	padding:8px;
	}	
